.batch-list-header {
    height: 150px;
    background-image: url("../../../../../assets/landing/Producto\ Final\ Mung.JPG");
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 10px 10px;
}

.batch-img-header {
    height: 100%;
    width: 100%;
}

.batch-header-text {
    position: absolute;
    bottom: 0.4em;
    padding: 0.4em;
    right: 1em;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.005em;
    text-transform: uppercase;
    color: #ffffff;
    backdrop-filter: blur(1px);
}

@media (min-width: 992px) {
    .batch-list-header {
        max-height: 350px;
        min-height: 350px;
    }
    .batch-header-text {
        bottom: 1em;
        padding: 0.4em;
        right: 2em;
        font-size: 22px;
    }
}