.logo-samal {
    width: 120px;
    height: 50px;
    margin: 10px;
    left: 0;
    position: absolute;
}

@media (min-width: 992px) {
    .logo-samal {
        width: 180px;
        height: 65px;
        margin: 20px;
    }
}